<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bird information</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body id="birdInfo">
    <div>
        <h1>Name: {{name}}</h1>
        <h4>abilities: {{abilities}}</h4>
        <img src="{{image}}" alt="{{name}}">
        <h3>Group: {{group}}</h3>
        <h3>Feels: {{feels}}</h3>
    </div>
    <button><a href="/angry_birds">back</a></button>
</body>
</html>